.wrapper{
    margin-bottom: 0.25rem;
}
.container {
    position: relative;
    width: 100%;
    height: 60px;
    background-color: #ececec;
    display: flex;
    border-radius: 3px;
    margin: 0;
    box-sizing: border-box;
}

.icon {
    position: relative;
    aspect-ratio: 1/1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.icon span {
    color: #616060;
    opacity: 0.8;
    font-size: 1.6rem;
    vertical-align: middle;
}

.container input{
    width: 100%;
    background-color: #ececec;
    border: none;
    font-size: 1.2rem;
    color: #616060;
    border-radius: 3px;
}

.container input:focus,
.container input:focus-within{
    outline: none;
    background-color: #ececec;
}

/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: #616060;
    -webkit-box-shadow: 0 0 0 30px #ececec inset;
    font-size: 1.2rem;
}

.noValid{
    border-bottom: red solid 1px;
    outline: none;
}
.warning{
    color: red;
    font-size: 0.75rem;
    visibility: hidden;
}
.visible{
    visibility: visible;
    animation: visible 300ms;
}
@keyframes visible {
    from{opacity: 0.2;}
    to{opacity: 1;}
}