.centeredDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.warning{
    text-align: center;
    color: red;
    font-size: 1.2rem;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 20px;
}